body {
    margin: 0;
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.uul {
    display: flex;
    list-style: none;
    margin-right: 10px;
    color: white;
    flex-wrap: wrap;
    padding: 15px;
}

.li {
    margin: 10px;
    transition: all ease-in-out;
    cursor: pointer;
}

.li:hover {
    border-bottom: 3px solid red;
    margin-bottom: 0px;
}

.buy {
    margin-right: 7px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
}



.buuy {
    color: white;
    text-decoration: none;
}

.svg {
    margin-right: 7px;
    color: white;
}

.bi {
    color: white;
}

.img {
    width: 295px;
    height: 89px;

}

.im {
    object-fit: cover;
    width: 100%;
}

.ali {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1 var(--rem--4);
    padding: 0px 20px 0px 20px;
    background-color: black;
    flex-wrap: wrap;
}

.america {
    color: white;
    margin: 0px;
}

.dut {
    background-color: black;
    padding: 92px;
    margin-top: -11px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.pic {
    overflow: hidden;
    width: 320px;
}

.img2 {
    width: 320px;
    object-fit: cover;
    background-image: url("https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/17d0e4a….png");
    transition: all 1000ms ease-in-out;
}

.img2:hover {
    transform: scale(1.2);

}

.sectcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.p {
    color: white;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    transition: all, 600ms;
}

.p:hover {
    color: red;
}

.img3 {
    width: 100%;
    object-fit: cover;
}

.inf {
    color: azure;
    margin: 0px;
}

.container-footer {
    padding: 80px;
    background-color: rgb(27, 0, 0);
}

.a {
    text-decoration: none;
}

.ip {
    color: gray;
    background-color: rgb(27, 0, 0);
    width: 150px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.ipp {
    padding: 40px;
    background-color: rgb(27, 0, 0);
    display: flex;
    flex-wrap: wrap;
}

.ippp {
    text-decoration: none;

}

.aaa {
    color: white;
    text-decoration: none;
}

.elem {
    padding: 15px;
}